<!--Generated template for the MesasPage page-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mesas</ion-title>
    <h2>{{usuarioLogado?.nomeusuario}}</h2>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h1>Nome do vendedor: {{usuarioLogado?.nomeusuario}}</h1>
    <h2>Nome do vendedor: {{usuarioLogado?.nomeusuario}}</h2>
    <h3>Nome do vendedor: {{usuarioLogado?.nomeusuario}}</h3>
    <p>Nome do vendedor: {{usuarioLogado?.nomeusuario}}</p>

    
    <button ion-item *ngFor="let item of items" (click)="showClickMesa(item.idContaMesa, item.idMesa, item.numMesa)">
      
      <ion-thumbnail item-start>
        <div *ngIf = "item.Status == 'Fechado'">
          <img src="assets/imgs/mesa-fechada.jpg">
        </div>          

        <div *ngIf = "item.Status != 'Fechado'">
          <img src="assets/imgs/mesa-aberta.jpg">
        </div>          

      </ion-thumbnail>
      


      <h2>{{item.numMesa}}</h2>
      <h2>{{item.Status}}</h2>

    </button>
  </ion-list>
</ion-content>
